*{
    margin:0;
    padding: 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnxe5XCQ2sO0dUaf8DYDNwk7E3iKCLqFoJYQ&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    color: white;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cal{
    display: grid;
    grid-template-columns: repeat(4,68px);
    border-radius: 10px;
    padding: 15px;
    box-shadow: inset 5px 5px 12px #ffffff
    5px 5px 12px rgba(0,0,0,.16);
    background-color:black;
}
input{
    grid-column: span 4;
    height: 70px;
    width: 243px;
    box-shadow: inset 5px 5px 12px #ffffff
    5px 5px 12px rgba(0,0,0,.16);
    font-size: 50px;
    border-radius: 20px;
    color:white;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px;
}
button{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border:0;
    box-shadow: inset 5px 5px 12px #ffffff
    5px 5px 12px rgba(0,0,0,.16);
    margin: 10px;
    font-size: 16px;
}
.equal{
    width: 110px;
    border-radius: 30px;
}
